@inject DataKepserverService _dataKepserver
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _dataKepserver.HaschangeData += async (e, b) => { await InvokeAsync(StateHasChanged); };
    }

    List<DataKepserver> Data => _dataKepserver.LastDataKepserver.Values.Where(q => q.OrderNo < 20).OrderBy(q => q.OrderNo).ToList();
}

<div>

    <div class="text-center tieude">
        <h4>MÀN HÌNH GIÁM SÁT TRẠNG THÁI MÁY CẮT PN</h4>
    </div>

    <div class="flex thongso-content">
        <div>
            <div class="thongso">
                <table border="1">
                    <tbody>
                        @if (_dataKepserver.LastDataKepserver.Any())
                        {
                            @foreach (var item in Data)
                            {
                                <tr>
                                    <td>
                                        <div class="LabelText">@(item.LabelText ?? "---")</div>
                                    </td>
                                    <td title="@item.LastData?.Time">
                                        <div class="LastData">@(item.LastData?.Value ?? item.FixValue ?? "---")</div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2">CHƯA CONFIG FILE CẤU HÌNH KEPSERVER </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tieude">
                <p>Thông số và trạng thái MC</p>
            </div>
        </div>
        <div>
            <div>
                <div class="camera">
                    <div class="novideo"><b>NOVIDEO</b></div>
                </div>
            </div>
            <div class="tieude">
                <p>Camera giám sát đóng cắt</p>
            </div>
        </div>
    </div>
</div>


<style>


    table, .thongso-content {
        text-align: center;
        font-weight: bold;
    }

    .LastData {
        width: 115px;
        margin: auto;
    }

    .camera {
        height: 342px;
        line-height: 331px;
        width: 100%;
        background-color: #7a7a7a;
        user-select: none;
        cursor: pointer;
        align-content: center;
    }

    .novideo {
        letter-spacing: 17px;
        color: white;
    }

</style>


