<div>

    <div class="text-center tieude">
        <h4>MÀN HÌNH GIÁM SÁT TRẠNG THÁI MÁY CẮT PN</h4>
    </div>

    <div class="flex thongso-content">
        <div>
            <div class="thongso">
                <table border="1">
                    <tbody>
                        <tr>
                            <td>Điện áp(V)</td>
                            <td>6650</td>
                        </tr>
                        <tr>
                            <td>Dòng điện(A)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Ia(A)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Ib(A)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Ic(A)</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Cos fi</td>
                            <td>0,76</td>
                        </tr>
                        <tr>
                            <td>Trạng thái MC</td>
                            <td>Sẵn sàng</td>
                        </tr>
                        <tr>
                            <td>Nhiệt độ(*C)</td>
                            <td>30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tieude">
                <p>Thông số và trạng thái MC</p>
            </div>
        </div>
        <div>
            <div>
                <div class="camera">
                    <div class="novideo"><b>NOVIDEO</b></div>
                </div>
            </div>
            <div class="tieude">
                <p>Camera giám sát đóng cắt</p>
            </div>
        </div>
    </div>
</div>


<style>


    table, .thongso-content {
        text-align: center;
        font-weight: bold;
    }

    .camera {
        height: 342px;
        line-height: 331px;
        width: 100%;
        background-color: #7a7a7a;
        user-select: none;
        cursor: pointer;
        align-content: center;
    }

    .novideo {
        letter-spacing: 17px;
        color: white;
    }

</style>


@code {

}
