<div class="wrap">
    <div class="home">
        <div class="banner">
            <img src="assets/images/banner.png" />
        </div>
        <div class="contents">
            <br />
            <div class="flex content-view">
                <DataViewerComponent></DataViewerComponent>
                <SettingViewerComponent></SettingViewerComponent>
            </div>
            <br />
        </div>
    </div>
</div>


<style>
    .flex {
        display: flex;
        gap: 5px;
    }

        .flex > div {
            flex: 1 1 0px;
        }


    .content {
        background: #545454;
        height: calc(100vh - 56px);
    }

    .wrap {
        align-content: center;
        height: 100%;
    }


    .home {
        font-family: 'Times New Roman';
        font-style: italic;
        font-weight: bold;
        display: block;
        margin: auto;
        font-size: 24px;
        padding: 2px;
        background: white;
    }


    .banner img {
        width: 100%;
        height: 111px;
    }

    .tieude {
        padding: 15px;
        font-weight: bold;
    }

    h4 {
        font-weight: bold;
        font-size: 22px;
    }

    table {
        width: 100%;
        height: 433px;
        background: #f0f0f0;
    }

    td {
        border: 1px solid #9b9af6;
        padding: 5px;
        font-size: 21px;
    }

</style>

<style>
    .dataviewer {
        flex: 17 1 0px !important;
    }

    .setting-view {
        flex: 10 1 0px !important;
    }
</style>

<style>
    @@media only screen and (max-width: 600px) {
        .thongso-content, .content-view {
            flex-direction: column;
        }

        .banner img {
            height: auto;
        }
    }
</style>

@code {

}
