<div class="setting-view">

    <div class="tieude">
        <h4>MÀN HÌNH CÀI ĐẶT THÔNG SỐ BẢO VỆ 50/51</h4>
    </div>

    <div class="settings">

        <div class="flex">

            @for (int i = 0; i < 2; i++)
            {
                <div>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>H2 restraint set point</td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>GA_Tripping curve</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>GA_Is set point</td>
                                    <td>1,26kA</td>
                                </tr>
                                <tr>
                                    <td>GA_Tripping td</td>
                                    <td>100ms</td>
                                </tr>
                                <tr>
                                    <td>GA_Tripping curve</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>GA_Is set point</td>
                                    <td>1,26kA</td>
                                </tr>
                                <tr>
                                    <td>GA_Tripping td</td>
                                    <td>100ms</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tieude">
                        <p>Thông số bảo vệ 50/51</p>
                    </div>
                </div>
            }

        </div>



    </div>

</div>

<style>
    .setting-view {
        text-align: center;
    }
</style>


@code {

}
