@inject DataKepserverService _dataKepserver
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _dataKepserver.HaschangeData += async (e, b) => { await InvokeAsync(StateHasChanged); };
    }

    List<List<DataKepserver>> _settings => new List<List<DataKepserver>>
    {
        _dataKepserver.LastDataKepserver.Values.Where(q=>q.OrderNo < 30 && q.OrderNo >= 20).OrderBy(q=>q.OrderNo).ToList(),
        _dataKepserver.LastDataKepserver.Values.Where(q=>q.OrderNo >= 30).OrderBy(q=>q.OrderNo).ToList()
    };
}

<div class="setting-view">

    <div class="tieude">
        <h4>MÀN HÌNH CÀI ĐẶT THÔNG SỐ BẢO VỆ 50/51</h4>
    </div>

    <div class="settings">

        <div class="flex">

            @foreach (var setting in _settings)
            {
                <div>
                    <div>
                        <table>
                            <tbody>
                                @foreach (var item in setting)
                                {
                                    <tr>
                                        <td>@(item.LabelText ?? "---")</td>
                                        <td title="@item.LastData?.Time">
                                            <div class="LastData"> @(item.LastData?.Value ?? item.FixValue ?? "---") </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tieude">
                        <p>Thông số bảo vệ 50/51</p>
                    </div>
                </div>
            }

        </div>
    </div>

</div>

<style>
    .setting-view {
        text-align: center;
    }
</style>
