@using Microsoft.AspNetCore.Components.Authorization;

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <MayCatSystem.WebUI.Pages.Login></MayCatSystem.WebUI.Pages.Login>
                </NotAuthorized>
                <Authorizing>Authorizing...</Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>
                Vui lòng quay về <a href="/">trang chủ</a>.
            </p>
        </NotFound>
    </Router>

</CascadingAuthenticationState>